/* 50-patterns/visual/mask/variants.css */


/* -------------------------------------------------------------------------- */
/* Defaults */
/* -------------------------------------------------------------------------- */

.mask {
  --mask-fade-hold:  0%;
  --mask-fade-end:   25%;
}

.maskable {
  --mask-fade-hold:  20%;
  --mask-fade-end:   60%;
}


/* -------------------------------------------------------------------------- */
/* Fade Top */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="fade-top"] {
  --mask-image:
    linear-gradient(
      to bottom,

      transparent 0%,
      transparent var(--mask-fade-hold),

      black var(--mask-fade-end),
      black 100%
    );
}


/* -------------------------------------------------------------------------- */
/* Fade Bottom */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="fade-bottom"] {
  --mask-image:
    linear-gradient(
      to top,

      transparent 0%,
      transparent var(--mask-fade-hold),

      black var(--mask-fade-end),
      black 100%
    );
}


/* -------------------------------------------------------------------------- */
/* Fade Left */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="fade-left"] {
  --mask-image:
    linear-gradient(
      to right,

      transparent 0%,
      transparent var(--mask-fade-hold),

      black var(--mask-fade-end),
      black 100%
    );
}


/* -------------------------------------------------------------------------- */
/* Fade Right */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="fade-right"] {
  --mask-image:
    linear-gradient(
      to left,

      transparent 0%,
      transparent var(--mask-fade-hold),

      black var(--mask-fade-end),
      black 100%
    );
}


/* -------------------------------------------------------------------------- */
/* Radial */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="radial"] {
  --mask-image:
    radial-gradient(
      circle
      at
      var(--mask-position-x)
      var(--mask-position-y),

      black var(--mask-fade-end),
      transparent calc(100% - var(--mask-fade-hold))
    );
}


/* -------------------------------------------------------------------------- */
/* Spotlight */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="spotlight"] {
  --mask-image:
    radial-gradient(
      circle
      at
      var(--mask-position-x)
      var(--mask-position-y),

      black 20%,
      black var(--mask-fade-end),
      transparent calc(75% - var(--mask-fade-hold))
    );
}


/* -------------------------------------------------------------------------- */
/* Ellipse */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="ellipse"] {
  --mask-image:
    radial-gradient(
      ellipse
      at
      var(--mask-position-x)
      var(--mask-position-y),

      black calc(90% - var(--mask-fade-end)),
      transparent calc(90% - var(--mask-fade-hold))
    );
}


/* -------------------------------------------------------------------------- */
/* Vignette */
/* -------------------------------------------------------------------------- */

:is(.mask, .maskable)[data-mask="vignette"] {
  --mask-image:
    radial-gradient(
      ellipse
      at
      var(--mask-position-x)
      var(--mask-position-y),

      black calc(80% - var(--mask-fade-end)),
      transparent calc(80% - var(--mask-fade-hold))
    );
}