/* 20-primitives/layout/grid.css */

.grid {
  display:                  grid;
}

.grid[data-grid-column] {
  grid-template-columns:    repeat(
                              auto-fit,
                              minmax(min(var(--column-min, 16rem), 100%), 1fr)
                            );
}

.grid[data-grid-column="sm"] { --column-min: 12rem; }
.grid[data-grid-column="md"] { --column-min: 16rem; }
.grid[data-grid-column="lg"] { --column-min: 20rem; }