/* 20-primitives/action/icon-button.css */

.icon-button {
    display:                      inline-flex;
    align-items:                  center;
    justify-content:              center;

    width:                        var(--icon-button-width);
    aspect-ratio:                 1;

    padding:                      0;

    color:                        var(--icon-button-fg);
    background:                   var(--icon-button-bg);

    border:                       var(--icon-button-border);
    border-radius:                var(--icon-button-radius);

    box-shadow:                   var(--icon-button-shadow);

    cursor:                       pointer;

    transition:                   var(--icon-button-transition);
}

.icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):hover {
    color:                        var(--icon-button-fg-hover);
    background:                   var(--icon-button-bg-hover);

    border:                       var(--icon-button-border-hover);
}

/* Outline */
.icon-button--outline {
  --icon-button-fg:               var(--button-outline-fg);
  --icon-button-fg-hover:         var(--button-outline-fg-hover);

  --icon-button-bg:               var(--button-outline-bg);
  --icon-button-bg-hover:         var(--button-outline-bg-hover);

  --icon-button-border:           var(--icon-button-outline-border);
  --icon-button-border-hover:     var(--icon-button-outline-border-hover);
}

/* Ghost */
.icon-button--ghost {
  --icon-button-fg:               var(--button-ghost-fg);
  --icon-button-fg-hover:         var(--button-ghost-fg-hover);

  --icon-button-bg:               var(--button-ghost-bg);
  --icon-button-bg-hover:         var(--button-ghost-bg-hover);

  --icon-button-border:           var(--button-ghost-border);
  --icon-button-border-hover:     var(--button-ghost-border-hover);
}

/* Small */
.icon-button--sm {
  --icon-button-width:            var(--icon-button-width-sm);
}

/* Large */
.icon-button--lg {
  --icon-button-width:            var(--icon-button-width-lg);
}