/* 20-primitives/action/link.css */

.link {
  font:                             inherit;
  cursor:                           pointer;

  color:                            var(--link-fg);

  text-decoration-line:             var(--link-decoration);
  text-decoration-color:            var(--link-decoration-color);
  text-decoration-thickness:        var(--link-decoration-thickness);
  text-underline-offset:            var(--link-decoration-offset);

  transition:                       var(--link-transition);
}

.link:hover {
  color:                            var(--link-fg-hover);
  text-decoration-color:            var(--link-decoration-color-hover);
}

/* -------------------------------------------------------------------------- */
/* Variants */
/* -------------------------------------------------------------------------- */

.link[data-link-type="muted"] {
  --link-fg:                        var(--link-muted-fg);
  --link-fg-hover:                  var(--link-muted-fg-hover);

  --link-decoration-color:          var(--link-muted-decoration-color);
  --link-decoration-color-hover:    var(--link-muted-decoration-color-hover);

  --link-decoration:                var(--link-muted-decoration);
}

.link[data-link-type="subtle"] {
  font-size:                        var(--link-subtle-size);

  --link-fg:                        var(--link-subtle-fg);
  --link-fg-hover:                  var(--link-subtle-fg-hover);

  --link-decoration-color:          var(--link-subtle-decoration-color);
  --link-decoration-color-hover:    var(--link-subtle-decoration-color-hover);

  --link-decoration:                var(--link-subtle-decoration);
}