/* 10-base/reset/content.css */

/* -------------------------------------------------------------------------- */
/* Text content */
/* -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
label {
  margin: 0;
}

a:not([class]) {
  text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* List */
/* -------------------------------------------------------------------------- */

ul,
ol {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}


/* -------------------------------------------------------------------------- */
/* Table */
/* -------------------------------------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
}