/* 40-layouts/cluster.css */

.cluster {
  display:                  flex;
  
  flex-wrap:                wrap;
  align-items:              center;
}

.cluster[data-nowrap] {
  flex-wrap:                nowrap;
}
.cluster[data-nowrap] > * {
  flex-shrink: 0;
}