/* 20-primitives/content/heading.css */

.heading {
  font-family:          var(--heading-family);

  color:                var(--heading-fg);

  max-inline-size:      var(--heading-width);

  font-size:            var(--heading-size);
  font-weight:          var(--heading-weight);
  line-height:          var(--heading-line);
  letter-spacing:       var(--heading-tracking);
}

/* -------------------------------------------------------------------------- */
/* Variants */
/* -------------------------------------------------------------------------- */

.heading[data-heading-level="1"] {
  --heading-width:      14ch;
  --heading-size:       var(--h1-size);
  --heading-weight:     var(--h1-weight);
  --heading-line:       var(--h1-line);
  --heading-tracking:   var(--h1-tracking);
}

.heading[data-heading-level="3"] {
  --heading-size:       var(--h3-size);
  --heading-weight:     var(--h3-weight);
  --heading-line:       var(--h3-line);
  --heading-tracking:   var(--h3-tracking);
  --heading-fg:         var(--h3-fg);
  --heading-width:      var(--subheading-width);
}