/* 20-primitives/content/paragraph.css */

.paragraph {
  margin:                       0;

  inline-size:                  min(100%, var(--paragraph-width));

  color:                        var(--paragraph-fg);

  font-family:                  var(--paragraph-family);
  font-size:                    var(--paragraph-size);
  font-weight:                  var(--paragraph-weight);
  line-height:                  var(--paragraph-line);
  letter-spacing:               var(--paragraph-tracking);
  text-wrap:                    var(--paragraph-wrap);
}

/* -------------------------------------------------------------------------- */
/* Variants */
/* -------------------------------------------------------------------------- */

.paragraph[data-paragraph-type="lead"] {
  --paragraph-fg:               var(--lead-fg);

  --paragraph-size:             var(--lead-size);
  --paragraph-line:             var(--lead-line);
  --paragraph-width:            var(--lead-width);
}

.paragraph[data-paragraph-type="strong"] {
  --paragraph-fg:               var(--text-strong);
}

.paragraph[data-paragraph-type="secondary"] {
  --paragraph-fg:               var(--text-secondary);
}

.paragraph[data-paragraph-type="muted"] {
  --paragraph-fg:               var(--text-muted);
}

.paragraph[data-paragraph-type="disabled"] {
  --paragraph-fg:               var(--text-disabled);
}