/* 90-utilities/display.css */

/* -------------------------------------------------------------------------- */
/* Base */
/* -------------------------------------------------------------------------- */

[data-display="block"] {
  display:                  block;
}

[data-display="inline"] {
  display:                  inline;
}

[data-display="inline-block"] {
  display:                  inline-block;
}

[data-display="contents"] {
  display:                  contents;
}

[data-display="none"] {
  display:                  none;
}


/* ========================================================================== */
/* Responsive: below 50em                                                     */
/* ========================================================================== */

@container responsive (width < 50em) {

  [data-display-50="block"] {
    display:                block;
  }

  [data-display-50="inline"] {
    display:                inline;
  }

  [data-display-50="inline-block"] {
    display:                inline-block;
  }

  [data-display-50="contents"] {
    display:                contents;
  }

  [data-display-50="none"] {
    display:                none;
  }
}


/* ========================================================================== */
/* Responsive: below 35em                                                     */
/* ========================================================================== */

@container responsive (width < 35em) {

  [data-display-35="block"] {
    display:                block;
  }

  [data-display-35="inline"] {
    display:                inline;
  }

  [data-display-35="inline-block"] {
    display:                inline-block;
  }

  [data-display-35="contents"] {
    display:                contents;
  }

  [data-display-35="none"] {
    display:                none;
  }
}


/* ========================================================================== */
/* Responsive: below 20em                                                     */
/* ========================================================================== */

@container responsive (width < 20em) {

  [data-display-20="block"] {
    display:                block;
  }

  [data-display-20="inline"] {
    display:                inline;
  }

  [data-display-20="inline-block"] {
    display:                inline-block;
  }

  [data-display-20="contents"] {
    display:                contents;
  }

  [data-display-20="none"] {
    display:                none;
  }
}