/* 90-utilities/order.css */

/* Base order utilities */
.u-order-first {
  order: -1;
}

.u-order-last {
  order: 1;
}

.u-order-none {
  order: 0;
}

/* Medium container */
@container responsive (width < 50em) {
  .u-order-first-50 {
    order: -1;
  }

  .u-order-last-50 {
    order: 1;
  }

  .u-order-none-50 {
    order: 0;
  }
}

/* Small container */
@container responsive (width < 35em) {
  .u-order-first-35 {
    order: -1;
  }

  .u-order-last-35 {
    order: 1;
  }

  .u-order-none-35 {
    order: 0;
  }
}

/* Extra-small container */
@container responsive (width < 20em) {
  .u-order-first-20 {
    order: -1;
  }

  .u-order-last-20 {
    order: 1;
  }

  .u-order-none-20 {
    order: 0;
  }
}